<div class="container w-50 mt-5">
  <h5 class="text-center">Edit data in Database</h5>
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div *ngFor="let field of formsJson" class="form-group">
      <div *ngIf="!field.hidden" style="display: flex; flex-direction: row; align-items: center; margin-bottom: 1rem;">
        <label for="{{ field.name }}" style="width: 150px; margin-right: 10px; text-align: right;">{{ field.label }}</label>
        <input
          *ngIf="field.type == 'textbox'"
          [type]="'text'"
          [formControlName]="field.name"
          [placeholder]="field.placeholder"
          class="form-control"
        />
        <select
          *ngIf="field.type == 'dropdown'"
          [formControlName]="field.name"
          class="form-select"
        >
          <option value="" disabled selected>Select a country</option>
          <option *ngFor="let option of field.options" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-secondary text-center"
      style="display: block; margin: 0 auto; text-align: center;"
      [disabled]="dynamicForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
